/* body */
body{
    background-color: #abf8e7;
    color: #ffffff;
}


/* texto */
.text-border {
    font-family: arial;
    font-size: 52px;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #000;
}

.titulo-secundario{
    font-family: arial;
    font-size: 24px;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: .9px;
    -webkit-text-stroke-color: #000;
}

.caja-padre{
    margin: 3%;
}

.container{
    width: auto;
    display: flex;
    justify-content: space-around;
}

.container-encriptador{
    display: block;
}

.botones{
    margin-top: 10px;
}


/* Footer*/
.derechos{
    font-family: arial;
    -webkit-text-fill-color: #000;
    margin-top: 10%;
}